<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs.cs184.ashleyswang.schoolplanner">

    <application
        android:name=".other.notifications.AppNotificationChannel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.deadlines.DeadlineFormActivity"
            android:label="@string/title_activity_deadline_form" />
        <activity
            android:name=".ui.manager.forms.CourseFormActivity"
            android:label="@string/title_activity_course_form" />
        <activity
            android:name=".ui.manager.forms.TermFormActivity"
            android:label="@string/title_activity_term_form" />
        <activity
            android:name=".ui.manager.forms.MeetingFormActivity"
            android:label="@string/title_activity_meeting_form" />
        <activity
            android:name=".ui.manager.forms.AssignmentFormActivity"
            android:label="@string/title_activity_assign_form" />
        <activity
            android:name=".ui.manager.forms.EventFormActivity"
            android:label="@string/title_activity_event_form" />
        <activity android:name=".LoginPage" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".other.notifications.NotificationsBroadcastReceiver" />
    </application>

</manifest>